#gbr{
  max-width: 100%;
}

#myProgress{
  width: 100%;
  background-color: #aaaaaa; 
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

#myBar{
  width: 0%;
  height: 8px;
  background-color: #55caa3;
  background-image: url(../icon/leaf.png);
}

.btn-action{
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

.infos-doa{
  font-weight: bold;
  font-size: 18px;
}

.btn-doa, .infos-doa{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.btn-doa > div{
  margin: 10px 8px auto;
}

.infos-doa > div{
 color: #fff;
 margin: 12px 5px auto;
}

.tombol{
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}

.btn-prev{
  background-image: url(../icon/previous.png);
}

.btn-next{
  background-image: url(../icon/next.png);
}

.btn-play{
  background-image: url(../icon/play.png);
}

.btn-pause{
  background-image: url(../icon/pause.png);
}

.btn-unmute{
  background-image: url(../icon/unmute.png);
}

.btn-mute{
  background-image: url(../icon/mute.png);
}

.fas{
    margin: 10px auto;
}

.playlist-track-doa{
    display: flex;
    margin-top: 3px;
    cursor: pointer;
    border-bottom: 1px solid #9b9b9b42;
  }
  
  .playlist-track-doa > div{
    margin-left:10px;
    margin-right: 10px;
  }
  
  .playlist-info-track{
    width: 80%;
  }
  
  .playlist-info-track,.playlist-duration{
    padding-top: 7px;
    padding-bottom: 7px;
    color: #343a40;
    font-size: 16px;
    pointer-events: none;
  }
  
  .playlist-doa{
     padding-bottom: 20px;
  }
  
  .active-track{
    color: #343a40 !important;
    border-bottom: 2px solid rgb(56, 154, 107);
    border-top: 2px solid rgb(56, 154, 107);
  }
  
  .active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play > .fas{
    color: #343a40 !important;
  }
  
  .playlist-btn-play{
    pointer-events: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }