#myProgress {
  width: 100%;
  background-color: #f3ef1a; 
  cursor: pointer;
}

#myBar {
  width: 0%;
  height: 8px;
  background-color: #69e74a;
  background-image: url(leaf.png);
}

.btn-action{
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

.btn-doa, .infos-doa{
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos-doa{
font-weight: bold;
margin-left: 40px;
margin-right: 40px;
}

.btn-doa > div {
 padding: 5px;
 margin-top: 15px;
 margin-bottom: 15px;
}

.infos-doa > div {
 color: #85ff66;
}

.first-btn{
  margin-left: 3px;
}

.duration{
  margin-left: 10px;
}

.title{
  text-align: center;
  font-size: 22px;
  font-family: cursive;
  font-weight: bold;
}

.playlist-track-doa{
  font-family: cursive;
  display: flex;
  margin-top: 3px;
  cursor: pointer;
  border-bottom: 1px solid #9b9b9b42;
}

.playlist-track-doa > div{
  margin-left:10px;
  margin-right: 10px;
}

.playlist-info-track{
  width: 80%;
}

.playlist-info-track,.playlist-duration{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #343a40;
  font-size: 14px;
  pointer-events: none;
}

.playlist-doa{
   padding-bottom: 20px;
}

.active-track{
  color: #343a40 !important;
  border-bottom: 2px solid rgb(56, 154, 107);
  border-top: 2px solid rgb(56, 154, 107);
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play > .fas{
  color: #343a40 !important;
}

.playlist-btn-play{
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fas{
  color: #343a40;
  font-size: 15px;
}

.fa{
  color: #85ff66;
  font-size: 20px;
}

.fa:hover {
  color: #85ff66ab;
}

#playlist{
  margin: 20px;
}

.bg-header {
  background-color: #343a40 !important;
  background-image: url(leaf.png);
}

a.bg-header:hover, a.bg-header:focus,
button.bg-header:hover,
button.bg-header:focus {
  background-color: #1d2124 !important;
}

.bg-footer {
  background-color: #343a40 !important;
}

a.bg-footer:hover, a.bg-footer:focus,
button.bg-footer:hover,
button.bg-footer:focus {
  background-color: #1d2124 !important;
}

.tiga{
  display: flex;
}

.footerAudio{
  display: flex;
}

.batas{
  margin-left: 10px;
}

#gbr{
  max-width: 100%;
}

#info{
  margin: 20px;
}

#optionRepeat{
  font-family: cursive;
  width:300px;
  margin-top: 20px;
  margin-left: 40%;
	position: fixed;
}

@media (max-width: 360px) {
  #optionRepeat {
    width: 200px;
    margin-left: 22%;
    margin-top: 20px;
  }
}